body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    overflow: auto;
    text-align: center;
}

.box {
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 4%;
}

#head{
    padding: 0 0;
    font-size: 15vw;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    color: black;
}

#AboutMe{
    color: black;
    font-weight: bold;
    font-size: 65px;
}

#ContactMe{
    color: black;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 30px;
}

.body-text{
    color: black;
    text-align: center;
}

.p2.subheading{
    text-decoration: underline solid black;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    font-size: 24px;
    color: black;
}

nav{
   background-color: white;
}

nav a {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-toggler{
    border-color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.logo{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.nav-link{
    font-weight: bold;
    color: black;
}

.horiz-line {
    line-height: 100px;
    border-bottom: 2px solid black;
}

.p2{
    padding: 4px;
    color: black;
}

form{
    color: white;
    font-weight: bold;
}

.projects-desc {
    padding-bottom: 4%;
    padding-left: 5%;
}

.fa:hover {
    color: grey;
    text-decoration: none;
}

.fa-github{
    color: black;
}

.company-name{
    font-weight: bold;
}
